* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: red;
    color: white;
    height: 40px;
    margin-bottom: 20px;
}

.top {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.text {
    margin-left: 20px;
    text-align: left;
}

.footer {
    height: 40px;
    display: flex;
    background-color: red;
  }

.footer-item1 {
    display: flex;
    height: 40px;
    background-color: red;
    align-items: center;
  }

.columns{
    display: flex;
    justify-content: space-around;
}

.box {
    border: 5px solid yellowgreen;
    height: 600px;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 20px;
}